body {
  font-family: Arial, Helvetica, sans-serif;
}

/* #subtitle {
  margin-bottom: 5%;
}

#selectmethod {
  margin-bottom: 2%;
  font-size: xx-large;
}

#weight-label {
  font-size: x-large;
  margin-right: 1%;
  
}

#weight {
  font-size: x-large;
  margin-bottom: 1%;
  padding: 0.5%;
}

#height-label {
  font-size: x-large;
  margin-right: 1%;
}

#height {
  font-size: x-large;
  margin-bottom: 1%;
  padding: 0.5%;
}

#calculate {
  font-size: large;
  padding: 0.5%;

}  */